[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.12"
requests = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-rest-swagger = "*"
drf-yasg = "*"
django-otp = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
