<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Message</title>
<body>
<p>
    {% blocktrans with username=name %}Hello, {{ username }}!{% endblocktrans %}
    <br>
    {% blocktrans with org_name=organization %}The <b>{{ org_name }}</b> circle invites you to its classes.{% endblocktrans %}
    <br>
    {% blocktrans with lgn=login pswd=password dom=domain %}Login and password to enter your personal account on{% endblocktrans %}
    <a href="https://{{ dom }}">{{ dom }}:</a>
    <br><br>
    {% blocktrans with lgn=login %}Your login: {{ lgn }}{% endblocktrans %}
    <br>
    {% blocktrans with pswd=password %}Your password: {{ pswd }}{% endblocktrans %}
    <br><br>
    <small>{% trans 'Sincerely,<br> "Open Schools"' %}</small>
</p>
</body>
</html>